.header-default-bg-img .featured-jumbotron {
    background-image: url('/4diac/img/4dayse4.png');
    background-repeat: no-repeat;
    background-size: cover;
  }


.eclipsefdn-user-bios-picture img {
    max-width: 200px; 
    width: 100%;      
    height: auto;     
    display: block;   
    margin-left: auto;
}

