

body {
    background-color: #fff;
    color: rgb(80, 80, 80, 1.0);
    font-family: Roboto, Libre Franklin, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143
}

a {
    color: #012269;
    text-decoration: none
}

a:focus,
a:hover {
    color: #012269;
    text-decoration: underline
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #012269;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1
}

.btn-primary {
    background-color: #ff950e;
    border-color: #ff950e;
    color: #fff
}

.btn-primary:hover {
    background-color: #d07a0b;
    border-color: #d07a0b;
    color: #fff
}

.header-wrapper .nav-link-active:after,
.header-wrapper .nav-link-active:before {
    animation-duration: .2s;
    animation-name: header-fade-in;
    background-color: rgba(255, 149, 14, 1.0);
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1000
}

@media (min-width:768px) {
    .header-wrapper .header-navbar-nav {
        align-items: stretch;
        display: flex
    }

    .header-wrapper .header-navbar-nav-links {
        display: flex
    }

    .header-wrapper .header-navbar-nav-links>* {
        margin-right: 1rem
    }

    .header-wrapper .header-navbar-end-download-btn {
        display: inline-block;
        font-weight: 700;
    }

    .header-wrapper .mobile-menu-btn {
        display: none
    }
}

.featured-jumbotron {
    background-color: #012269;
    color: #ff950e;
    margin-bottom: 0;
    padding-top: 4.5rem;;
    text-align: left
}

.header-default-bg-img .featured-jumbotron:before {
    background: linear-gradient(0deg, #012269 20%, transparent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.featured-jumbotron .featured-jumbotron-headline,
.featured-jumbotron .featured-jumbotron-subtitle,
.featured-jumbotron .featured-jumbotron-tagline {
    text-shadow: 0 0 16px #012269, 0 0 16px #012269, 0 0 16px #012269, 0 0 16px #012269
}

.featured-jumbotron .featured-jumbotron-headline,
.featured-jumbotron .h1,
.featured-jumbotron h1 {
    color: #ff950e;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 1rem
}

.featured-jumbotron .featured-jumbotron-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.featured-jumbotron .featured-jumbotron-tagline,
.featured-jumbotron .featured-jumbotron-tagline p {
    font-size: 3rem
}

.featured-jumbotron .featured-jumbotron-links {
    margin-bottom: 4rem
}

.news-list .media-link {
    background-color: #f5f5f5;
    color: #484848;
    display: block;
    margin-bottom: 10px;
    padding: 30px
}

.news-list .media-link:hover {
    background-color: #fff3e3;
    color: #484848;
    text-decoration: none
}

.menu-heading:before {
    background-color: rgba(51, 78, 135, 1.0);
    border-radius: 50%;
    bottom: -.5rem;
    content: "";
    display: inline-block;
    height: 1rem;
    left: 0;
    position: absolute;
    width: 1rem
}

.menu-heading:after {
    background-color: rgba(51, 78, 135, 1.0);
    content: "";
    display: block;
    height: 1px;
    margin-left: auto;
    margin-top: 1.25rem;
    width: 100%
}

a:visited {
    color: #012269
}

#footer {
  color: #012269;
}

@media (min-width: 992px) {
    .header-navbar-brand .logo-wrapper img {
        max-height: 60px;
        width: auto;
        height: auto;
    }
}

.header-navbar-nav {
    margin-right: 1rem;
}

.header-navbar-end {
    margin-left: auto;
    flex-shrink: 0;
}

.header-navbar-end-download-btn {
    white-space: nowrap;
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .header-navbar {
        overflow: hidden;
        max-height: none;
    }
    .header-navbar-brand {
        margin-right: 5px;
        overflow: visible;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        height: 60px;
    }

    .header-navbar-brand .logo-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .header-navbar-brand .logo-wrapper img {
        max-height: 50px;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    .header-navbar-nav {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 80px);
    }

    .header-navbar-end {
        width: 100%;
        padding: 0.5rem 0;
        overflow: visible;
    }

    .header-navbar-end .btn {
        width: 100%;
        white-space: nowrap;
        overflow: visible;
    }

    .card-container.col-xs-24.col-sm-6,
    .card-container.col-xs-24.col-sm-5 {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .featured-jumbotron .featured-story-jumbotron {
        margin-bottom: 2rem;
    }

    .featured-jumbotron .featured-jumbotron-end-custom {
        max-width: 100%;
        padding: 0 15px;
        margin-top: 2rem;
    }

    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-lead-text {
        margin-bottom: 1rem;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
        order: 1;
        font-size: 2rem;
    }

    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-link-group {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
        width: 100%;
        order: 2;
    }

    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-link-group > a {
        padding: 1.5rem 1rem;
    }

    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-link-group a:active .link-overlay,
    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-link-group a:focus .link-overlay,
    .featured-jumbotron .featured-jumbotron-end-custom .custom-jumbotron-end-link-group a:hover .link-overlay {
        display: none !important;
    }
}

.news-cards-row {
    /* neutralize Bootstrap .row negative margins when not inside .container
     not the cleanest fix */
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
        .news-cards-row {
            padding-left: 15px;
            padding-right: 15px;
        }
}
@media (min-width: 1200px) {
        .news-cards-row {
            padding-left: 20px;
            padding-right: 20px;
        }
}

/* Allow button text wrapping inside news cards.
 In the theme Solstice, the class .btn enforces white-space: nowrap
 This fixed the wrapping of the <a> inside the news cards
 We should swtich to a custom class for the news card buttons
 */
.news-cards-row .card-panel .btn {
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.card-container .card-panel .panel-body p {
  margin-top: 15px;
  margin-bottom: 0px;
}

.card-container .card-panel .panel-body {
  padding: 0 1em 0em;
}
