
.header-default-bg-img .featured-jumbotron {
    background-image: url('/4diac/img/4diac-download-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

.panel-footer {
  background-color: #f5f5f5;
  border-bottom-left-radius: -1px;
  border-bottom-right-radius: -1px;
  border-top: 1px solid #ddd;
  padding: 0px 1em 0px 1em;
	margin-left: 1em;
  	justify-content: left;
}

.card-container .card-panel .panel-body {
  	padding: 0 1em 0 1em;
}

.panel-footer ul {
	padding: 0;
	list-style: square;
}

.card-container .card-panel .panel-footer a:not(.btn){
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	text-transform: none;
}

.card-container .glyph-highlight{
    left:calc(90% - 75px);
    position:absolute;
    text-align:center;
    top:10px
  }
  
.card-container .glyph-highlight .glyph-container{
    background-color:#ff950e;
    color:#fff;font-size:3em;
    height:40px;padding:0px 0px 5px;
    width:75px
  }
  
.card-container .glyph-highlight .glyph-container img{
  max-height:100%;
  max-width:100%;
  vertical-align:text-bottom
}
  
.card-container .glyph-highlight .glyph-bottom{
  border:37.5px solid transparent;
  border-top:18.75px solid #ff950e;
  height:0;
  width:0
}

.card-container .card-panel.with-glyph .panel-body {
  margin-top:5px
}

.glyph-container a:visited {
  color: white;
}

.glyph-container a:visited {
  color: white;
}

#main-sidebar .main-sidebar-item>a {
    background: #012269;
}

#main-sidebar a,
#main-sidebar a:hover {
    color: #012269
}

#main-sidebar {
    color: #012269
}

#main-sidebar .main-sidebar-heading{
	content: "\f135"; /* Unicode for the Font Awesome rocket icon */
	font-weight: 700;
	font-size: large;	
}

#main-sidebar .main-sidebar-item>a.main-sidebar-item-active,
#main-sidebar .main-sidebar-item>a:hover,
#main-sidebar .main-sidebar-item>a[aria-expanded=true] {
    background-color: #ff950e
}

@media (min-width:992px) {
    #main-sidebar:before {
        background-color: #fff3e3;
    }
}
