.featured-jumbotron{padding:1rem 0;text-align:left}


.featured-jumbotron .featured-jumbotron-headline,.featured-jumbotron .h1,.featured-jumbotron h1{color:#ff950e;font-size:4rem;font-weight:400;letter-spacing:normal;margin-bottom:10rem}

