/*
	4diac-gray		rgba(234,234,234,1.0)
	4diac-lightblue		rgba(0,137,209,1.0)
	4diac-middleblue	rgba(0,69,138,1.0)
	4diac-darkblue 		rgba(1,34,105,1.0)
	
	new
	4diac-orange		rgba(255,149,14,1.0)
	4diac-gray		rgba(153,153,153,1.0)
	4diac-lightblue		rgba(153,166,195,1.0)
	4diac-middleblue	rgba(51,78,135,1.0)
	4diac-darkblue 		rgba(1,34,105,1.0)
*/
html, body{
padding:0px; 
margin:0px;
height:100%;
width:100%;
font-family: 'Open Sans', sans-serif;
}

h1{
color:rgba(255,149,14,1.0);
font-size:18pt;
font-weight:bold;
text-align:center;
}

figcaption{
font-size:10pt;
color:rgba(1,34,105,1.0);
text-align:center;
}

figure.single{
  display: inline-block;
  padding: 10px;
  width: 33%;
}

/* ***************** navigation ***************** */
nav{
background-color:rgba(1,34,105,1.0); 
padding-top:10px;
padding-bottom:10px;
margin:0;
text-align:center;
}

nav a:link, nav a:visited{
color:white;
}

nav a:hover, nav a:active{	
color:rgba(1,34,105,1.0);
background-color:rgba(153,166,195,1.0);
border-radius:5px;
}

nav a{
text-decoration: none;
font-weight:bold;
font-size: 14pt;
padding-left: 10px;
padding-right: 10px;
}

nav ul{
display: inline;
margin: 0;
padding: 0;
}

nav ul li{
display: inline-block;
}

nav ul li:hover ul{
display: block;
}

nav ul li ul{
position: absolute;
padding: 5px;
display: none;
}

nav ul li ul li{ 
background-color:rgba(153,166,195,1.0);
display: block; 
text-align: left;
border-radius:5px;
}

nav ul li ul li a{
font-size:11pt;
display:block !important;
} 

/* ***************** image ***************** */
section.image {
background-image:url("img/application.png");
background-repeat:no-repeat;
background-position:center; 
height:200px;
margin-bottom:25px;
}

section.img img{
display:block;
margin:25px auto 25px auto;
}

/* ***************** news ***************** */
section.news{
background-color:rgba(153,166,195,1.0);
width:100%;
height:70px;
margin:auto;
text-align:center;
}

section.news > a{
width:3.5cm; 
height:60px;
vertical-align:middle;
display:inline-block;
font-weight:bold;
margin:auto 20px auto 20px;
color:white;
padding:10px 5px 0px 5px;
text-decoration: none;
}

section.news > a:first-of-type, section.news > a:last-of-type{
background-color:transparent;
width:40px; 
height:40px;
margin:0px;
padding:0px;
vertical-align:middle;
}

section.news > div.news-item{ 
  background-color:/*rgba(51,78,135,1.0);*/rgba(1,34,105,1.0); 
  /*border-radius:10px;*/
  width:3.5cm; 
  height:70px; 
  vertical-align:middle;
  display:inline-block;
  margin:auto 20px auto 20px;
  padding:0px 5px 0px 5px;
}

div.news-item > span { 
  height:70px; 
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;
}

div.news-item > a{
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: middle;  
  font-weight:700;
  color:white;
  font-size:9pt;
  text-decoration: none;
}

section.news a:hover:first-of-type, section.news a:active:first-of-type, section.news a:hover:last-of-type, section.news a:active:last-of-type{
background-color:transparent;
}
 
section.news > div.news-item:link, section.news > div.news-item:visited{
}

section.news > div.news-item:hover, section.news > div.news-item:active{
background-color:rgba(153,153,153,1.0);
color:white;
}

/* ***************** users' workshop ***************** */
table.program{
border-collapse: collapse;
}

table.program  td, table.program th{
border:1px solid black;
padding:5px;   
}

table.program  th{
width:100px;
text-align:center;
vertical-align:center;
}

/* ***************** content ***************** */
section.content{
color:orange;
padding:0px;
text-align:center;
height:auto;
width:100%;
}

section.content div, section.content div.newsheader {
min-width:800px;
display:table;
margin-left:auto;
margin-right:auto;
text-align:center;
}

section.content select{
font-size:12pt;
padding:2px;
}
section.content > div.newsheader, section.content select{
color:white;
font-weight:bold;
min-width:800px;
background-color:rgba(1,34,105,1.0);
text-align:center;
}
section.content > div.news{
display:table;
vertical-align:middle;
padding-bottom:8px;
font-style:italic;
}
section.content > div.news > span.left{
display:table-cell;
text-align:left;
vertical-align:top;
width:33%;
}
section.content > div.news > span.center{
display:table-cell;
text-align:center;
width:33%;
}
section.content > div.news > span.right{
display:table-cell;
text-align:right;
vertical-align:top;
width:33%;
}

section.content div > span{
padding-top:5px;
padding-left:5px;
padding-right:5px;
color:rgba(1,34,105,1.0);
font-size:12pt;
text-decoration: none;
font-weight:normal;
display:table-cell;
text-align:left;
}

section.content .featureh2{ 
width:550px;
}

section.content .h2twocollumntable{
width:400px;
}

p{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
margin: auto;
text-align:justify;
font-size:12pt;	
}

h2, h2 a{
color:orange;
text-align:left;
font-size:14pt;
font-weight:bold;
margin: auto;
}


section.content > p, section.content table, section.content tr, section.content ul, section.content h2, section.content h3{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
max-width:800px;
margin: auto;
text-align:justify;
font-size:12pt;
}

h3{
color:orange;
text-align:left;
font-weight:bold;
}

h4{
color:rgba(1,34,105,1.0);
font-size:13pt;
font-weight:bold;
}

section.content td{
vertical-align:top;
}

td p{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
margin: auto;
text-align:justify;
font-size:12pt;
}

ul{
padding-top:5px;
padding-bottom:5px;
margin: auto;
color:rgba(1,34,105,1.0);
text-align:justify;
list-style-type:square;
}

ul.text{
margin-right:50px;
margin-left:50px;
}

ul.text li{
margin-bottom: 10px;
}

section.content > img{
display: block;
margin: auto;
}

section.content span{
padding-top:15px;
color:rgba(1,34,105,1.0);
font-size:10.5pt;
text-decoration: none;
font-weight:normal;
display:block;
}

.componentbutton{
width:4cm; 
height:4cm;
margin:0px 20px 0px 20px;
padding:15px;
display:inline-block;
font-weight:700;
color:white;
font-size:34pt;
background-color:rgba(1,34,105,1.0);
border:1.9mm solid rgba(1,34,105,1.0);
border-radius:30px;
text-decoration: none;
text-align:center;
} 
 
section.content a:link, section.content a:visited{
}

section.content a.componentbutton:active, section.content a.componentbutton:hover{
background-color:rgba(153,166,195,1.0);
color:white;
border:1.9mm solid rgba(153,166,195,1.0);
}

/****************** documentation ******************/
section.documentation{
height:auto;
width:95%;
display:flex;
text-align:left;
}

iframe.toc{
height:inherit;
width:25%;
border:0px;
padding:0px;
margin:0px;
background-color:rgba(153,166,195,1.0);
box-sizing:border-box;
overflow-x:hidden;
}

iframe.doc, div.doc{
vertical-align:top;
width:70%;
margin-left:5px;
padding:0px;
border:0px;
box-sizing:border-box;
overflow-x:hidden;
min-height: 100%;
margin-bottom: -142px;
}

/****************** header / footer ******************/
header{
margin:0px;
width:100%;
height:80px;
display:table;
}

header img{
height:80px;
}

footer{
background-color:rgba(1,34,105,1.0); 
color:white;
margin:0px;
height:24px;
padding:5px 0px 5px 0px;
width:100%;
display:table;
bottom:0;
}

footer td#width33, header > span{
width:33%;
}

footer td, header > span{
padding:0px;
display:table-cell;
vertical-align:middle;
}

footer td.left, header span.left{
text-align:left;
padding-left:5px;
color:white;
}
header span.left{
padding-top:5px;
padding-bottom:3px;
}

footer td.center, header span.center{
text-align:center;
}
header span.center{
color:orange;
font-size:18pt;
font-weight:bold;
}

footer td.right, footer td.right > a, header span.right{
text-align:right;
text-decoration:none;
padding-right:5px;
color:white;
font-size:8pt;
}
header span.right{
color:rgba(1,34,105,1.0);
font-size:18pt;
font-weight:bold;
}

footer td.right img{
margin-top:5px;
height:24px;
align:middle;
}

footer td.center img{
margin-left:5px;
margin-right:5px;
height:30px;
width:30px;
background-color:rgba(1,34,105,1.0); 
border-radius:5px;
}

footer td.links{
margin-left:5px;
margin-right:20px;
font-size:8pt;
color:white;
vertical-align:middle;
}
