/*
	4diac-gray			rgba(234,234,234,1.0)
	4diac-lightblue		rgba(0,137,209,1.0)
	4diac-middleblue	rgba(0,69,138,1.0)
	4diac-darkblue 		rgba(1,34,105,1.0)
*/
body{
padding:0px; 
margin:0px;
height:100%;
width:100%;
font-family:"Calibri";
}

h1{
color:orange;
font-size:18pt;
font-weight:bold;
text-align:center;
}

figcaption{
font-size:10pt;
color:rgba(1,34,105,1.0);
}

/* ***************** navigation ***************** */
nav{
background-color:rgba(1,34,105,1.0); 
padding-top:10px;
padding-bottom:10px;
margin:0;
text-align:center;
}

nav > ul {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
} 
 
nav > ul > li > a{
font-size: 14pt;
font-weight:bold;
text-align:center;
padding-left:10px;
padding-right:10px;
text-decoration: none;
} 
 
nav > ul > li > a:link, nav > ul > li > a:visited{
color:white;
}

nav > ul > li > a:hover, nav > ul > li > a:active{
color:rgba(0,137,209,1.0);
background-color:rgba(221,221,221,1.0);
border-radius:5px;
}

nav > ul > li {
display:inline;
float:center;
} 

/* ***************** image ***************** */
section.image {
background-image:url("img/application.png");
background-repeat:no-repeat;
background-position: center bottom; 
height:260px;
margin-top:20px;
margin-bottom:50px;
}

section.img img{
display:block;
margin:20px auto 0px auto;
}

/* ***************** news ***************** */
section.news{
background-color:rgba(221,221,221,0.5);
color:white;
width:100%;
height:70px;
margin:auto;
text-align:center;
}

section.news > span{
background-color:rgba(1,34,105,1.0); 
border-radius:10px;
vertical-align:middle;
width:3.5cm; 
height:60px;
vertical-align:middle;
display:inline-block;
font-weight:bold;
margin:auto 20px auto 20px;
color:white;
padding:10px 5px 0px 5px;
text-decoration: none;
}

section.news.span > a{
vertical-align:middle;
display:inline-block;
font-weight:bold;
color:white;
font-size:13pt;
text-decoration: none;
} 

section.news > a:first-of-type, section.news > a:last-of-type{
background-color:transparent;
width:40px; 
height:40px;
margin:0px;
padding:0px;
vertical-align:middle;
}

section.news > a:hover:first-of-type, section.news > a:active:first-of-type, section.news > a:hover:last-of-type, section.news > a:active:last-of-type{
background-color:transparent;
}
 
section.news > a:link, section.news > a:visited{
}

section.news > a:hover, section.news > a:active{
background-color:rgba(0,137,209,1.0);
color:rgba(221,221,221,0.5);
}

/* ***************** users' workshop ***************** */
table.program{
border-collapse: collapse;
}

table.program  td, table.program th{
border:1px solid black;
padding:5px;   
}

table.program  th{
width:100px;
text-align:center;
vertical-align:center;
}

/* ***************** content ***************** */
section.content{
color:orange;
padding-top:30px;
padding-bottom:30px;
margin-bottom:50px;
width:100%;
text-align:center;
}

section.content div, section.content div.newsheader{
min-width:800px;
display:table;
margin-left:auto;
margin-right:auto;
text-align:center;
}

section.content div.newsheader{
color:white;
font-weight:bold;
background-color:rgba(1,34,105,1.0);
}
div.news{
display:table;
vertical-align:middle;
padding-bottom:8px;
font-style:italic;
}
div.news > span.left{
display:table-cell;
text-align:left;
}
div.news > span.right{
display:table-cell;
text-align:right;
}

section.content div > span{
padding-top:5px;
color:rgba(1,34,105,1.0);
font-size:12pt;
text-decoration: none;
font-weight:normal;
display:table-cell;
text-align:left;
width:50%;
}

section.content > p, section.content > table, section.content > ul, section.content h2{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
width:800px;
margin: auto;
text-align:justify;
font-size:12pt;
}

section.content h2{
color:orange;
text-align:left;
font-size:14pt;
font-weight:bold;
}

section.content td{
width:600px;
vertical-align:top;
}

section.content ul{
padding-top:5px;
padding-bottom:5px;
margin: auto;
color:rgba(1,34,105,1.0);
text-align:justify;
list-style-type:square;
}

ul.text{
margin-right:50px;
margin-left:50px;
}

ul.text li{
margin-bottom: 10px;
}

section.content > img{
display: block;
margin: auto;
}

section.content span{
padding-top:15px;
color:rgba(1,34,105,1.0);
font-size:10pt;
text-decoration: none;
font-weight:normal;
display:block;
}

section.content > a{
width:4cm; 
height:4cm;
margin:20px;
padding:15px;
display:inline-block;
font-weight:bold;
color:rgba(1,34,105,1.0);
font-size:36pt;
border:1.9mm solid rgba(1,34,105,1.0);
border-radius:30px;
text-decoration: none;
} 
 
section.content > a:link, section.content > a:visited{
}

section.content > a:hover, section.content > a:active{
background-color:rgba(0,137,209,1.0);
color:rgba(221,221,221,1.0);
border:1.9mm solid rgba(221,221,221,1.0);
}

/* ***************** header / footer ***************** */
header{
margin:0px;
width:100%;
height:80px;
display:table;
}

header img{
height:80px;
}

footer{
background-color:rgba(1,34,105,1.0); 
color:white;
margin:30px 0px 0px 0px;
height:24px;
padding:5px 0px 5px 0px;
width:100%;
display:table;
}

footer > span, header > span{
padding:0px;
width:33%;
display:table-cell;
vertical-align:middle;
}

span.left{
text-align:left;
padding-left:5px;
}
header span.left{
padding-top:5px;
padding-bottom:3px;
}

span.center{
text-align:center;
}
header span.center{
color:orange;
font-size:18pt;
font-weight:bold;
}

span.right, span.right > a{
text-align:right;
text-decoration:none;
padding-right:5px;
}
header span.right{
color:rgba(1,34,105,1.0);
font-size:18pt;
font-weight:bold;
}

span.right img{
margin-left:5px;
margin-right:5px;
height:24px;
}

span.center img{
margin-left:5px;
margin-right:5px;
height:30px;
width:30px;
background-color:rgba(1,34,105,1.0); 
border-radius:5px;
}
