/*
	4diac-gray		rgba(234,234,234,1.0)
	4diac-lightblue		rgba(0,137,209,1.0)
	4diac-middleblue	rgba(0,69,138,1.0)
	4diac-darkblue 		rgba(1,34,105,1.0)
	
	new
	4diac-orange		rgba(255,149,14,1.0)
	4diac-gray		rgba(153,153,153,1.0)
	4diac-lightblue		rgba(153,166,195,1.0)
	4diac-middleblue	rgba(51,78,135,1.0)
	4diac-darkblue 		rgba(1,34,105,1.0)
*/
html, body{
padding:0px; 
margin:0px;
height:100%;
width:100%;
font-family: 'Open Sans', sans-serif;
}

h1{
color:rgba(255,149,14,1.0);
font-size:18pt;
font-weight:bold;
text-align:center;
margin:17px auto 15px auto;
}

figcaption{
font-size:10pt;
color:rgba(1,34,105,1.0);
text-align:center;
}

figure.single{
  display: inline-block;
  padding: 10px;
  width: 33%;
}

/* ***************** navigation ***************** */
nav{
background-color:rgba(1,34,105,1.0); 
padding-top:10px;
padding-bottom:10px;
margin:0;
text-align:center;
}

nav a:link, nav a:visited{
color:white;
}

nav a:hover, nav a:active{	
color:rgba(1,34,105,1.0);
background-color:rgba(153,166,195,1.0);
border-radius:5px;
}

nav a{
text-decoration: none;
font-weight:bold;
font-size: 14pt;
padding-left: 10px;
padding-right: 10px;
}

nav ul{
display: inline;
margin: 0;
padding: 0;
}

nav ul li{
display: inline-block;
}

nav ul li:hover ul{
display: block;
}

nav ul li ul{
position: absolute;
padding: 5px;
display: none;
}

nav ul li ul li{ 
background-color:rgba(153,166,195,1.0);
display: block; 
text-align: left;
border-radius:5px;
}

nav ul li ul li a{
font-size:11pt;
display:block !important;
} 

.navsticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.leftmenu{
	width: 100px;
	float: left;
	display:block;
	height:23px;
}

.menucenter{
	width: 100px;
	width:calc(100% - 200px);
	display:inline-block;
}

.rightmenu{
	width: 100px;
	height:23px;
	float: right;
	display:block;
}

#navlogo{
	padding-left: 10px;
}

.dontshowlogo{
	display: none;
}

#stickyBuffer{
	height: 46px;
}


/* ***************** image ***************** */
section.img img{
display:block;
margin:20px auto 15px auto;
}

/******************* left *******************/
section.left{
	float: left;
	margin-left:30px;
	width: calc(20% - 30px);
	margin-top:50px;
	min-height: 125px;
	overflow: hidden;
}

/******************* right *******************/
section.right{
float: right;
margin-right:30px;
width:calc(20% - 30px);
margin-top:50px;
}


.downloadbutton{
background-color:rgba(255,149,14,1.0);
color:white;
width:100%;
height:45px;
border-radius:5px;
text-align:center;
display: block;
vertical-align: middle;
font-weight:bold;
font-size:12pt;
text-decoration: none;
}

.downloadbutton > div{
  vertical-align: middle;
  height:45px;
  padding-top:10px;

}

/* ***************** news ***************** */
section.news{
margin:20px auto 0px auto;
text-align:left;
}

.news-list{
background-color:rgba(153,166,195,1.0);
border: 1px solid rgba(153,166,195,1.0);
border-radius: 4px;
margin-bottom:20px;
text-align:left;
padding-bottom:15px;
max-height: 550px;
overflow-y: scroll;

}

section.news > a{
vertical-align:middle;
display:block;
font-weight:bold;
margin:auto 20px auto 20px;
color:white;
padding:10px 5px 0px 5px;
text-decoration: none;
}

section.news > h1{
  color:rgba(1,34,105,1.0);
  font-size:14pt;
  margin:0px;
  padding: 15px 0px 5px 0px;
  text-align:left;
}

section.news > a:first-of-type, section.news > a:last-of-type{
background-color:transparent;
width:100%;
margin:0px;
padding:0px;
vertical-align:middle;
}

.news-item{ 
  background-color:white/*rgba(51,78,135,1.0);rgba(1,34,105,1.0)*/; 
  border-radius:4px;
  width: calc(100% - 50px); 
  vertical-align:middle;
  display:block;
  margin:10px 0px 10px 20px;
  padding:0px 5px 0px 5px;
}

div.news-item > span { 
  height:70px; 
  display:inline-block;
  vertical-align: middle;
}

.news-date{
  width:100%;
  text-align:right;
  font-weight:normal;
  font-style: italic;
  display:block;
  padding-bottom:2px
}

.news-content{
  font-weight:normal;
  display:block;
  padding-left:5px;
}

div.news-item > a{
  display:inline-block;
  vertical-align: middle;  
  font-weight:700;
  color:rgba(1,34,105,1.0);
  font-size:10pt;
  line-height:12pt;
  text-decoration: none;
  padding:5px;
  padding-bottom:7px;
}

 
section.news > div.news-item:link, section.news > div.news-item:visited{
}

.news-item:hover, .news-item:active, div.news-item > a:active, div.news-item > a:hover{
background-color:rgba(1,34,105,1.0);
color:white;
}

/* ***************** users' workshop ***************** */
table.program{
border-collapse: collapse;
}

table.program  td, table.program th{
border:1px solid black;
padding:5px;   
}

table.program  th{
width:100px;
text-align:center;
vertical-align:center;
}

/* ***************** content ***************** */
section.content{
color:orange;
padding:0px;
text-align:center;
height:auto;
width:60%;
/*margin-left:20%*/
display:inline-block;
}

section.content div, section.content div.newsheader {
min-width:800px;
display:table;
margin-left:auto;
margin-right:auto;
text-align:center;
}

section.content select{
font-size:12pt;
padding:2px;
}
section.content > div.newsheader, section.content select{
color:white;
font-weight:bold;
min-width:800px;
background-color:rgba(1,34,105,1.0);
text-align:center;
}
section.content > div.news{
display:table;
vertical-align:middle;
padding-bottom:8px;
font-style:italic;
}
section.content > div.news > span.left{
display:table-cell;
text-align:left;
vertical-align:top;
width:33%;
}
section.content > div.news > span.center{
display:table-cell;
text-align:center;
width:33%;
}
section.content > div.news > span.right{
display:table-cell;
text-align:right;
vertical-align:top;
width:33%;
}

section.content div > span{
padding-top:5px;
padding-left:5px;
padding-right:5px;
color:rgba(1,34,105,1.0);
font-size:12pt;
text-decoration: none;
font-weight:normal;
display:table-cell;
text-align:left;
}

section.content .featureh2{ 
width:550px;
}

section.content .h2twocollumntable{
width:400px;
}

p{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
margin: auto;
text-align:justify;
font-size:12pt;	
}

h2, h2 a{
color:rgba(1,34,105,1.0);
text-align:left;
font-size:14pt;
font-weight:bold;
margin: auto;
padding-top:5px;
padding-bottom:1px;
max-width:800px;
}


section.content > p, section.content table, section.content tr, section.content ul{
color:rgba(1,34,105,1.0);
padding-top:1px;
padding-bottom:5px;
max-width:800px;
margin: auto;
text-align:justify;
font-size:12pt;
}

h3{
color:rgba(1,34,105,1.0);
text-align:left;
font-weight:bold;
font-size:12pt;
padding-top:5px;
padding-bottom:1px;
max-width:800px;
margin: auto;
}

h4{
color:rgba(1,34,105,1.0);
font-size:12pt;
font-weight:bold;
}

section.content td{
vertical-align:top;
padding-left:0px;
}

td p{
color:rgba(1,34,105,1.0);
padding-top:5px;
padding-bottom:5px;
margin: auto;
text-align:justify;
font-size:12pt;
}

ul{
padding-top:5px;
padding-bottom:5px;
margin: auto;
color:rgba(1,34,105,1.0);
text-align:justify;
list-style-type:square;
}

ul.text{
margin-right:50px;
margin-left:50px;
}

ul.text li{
margin-bottom: 10px;
}

section.content > img{
display: block;
margin: auto;
}

section.content span{
padding-top:15px;
color:rgba(1,34,105,1.0);
font-size:10.5pt;
line-height: 11pt;
text-decoration: none;
font-weight:normal;
display:block;
}

.componentbutton{
width:4cm; 
height:4cm;
margin:0px 20px 0px 20px;
padding:15px;
padding-top:0px;
padding-bottom:25px;
display:inline-block;
font-weight:700;
color:white;
font-size:34pt;
background-color:rgba(1,34,105,1.0);
border:1.9mm solid rgba(1,34,105,1.0);
border-radius:30px;
text-decoration: none;
text-align:center;
} 

.componentbuttonimage{
	padding-top:5px;
	padding-bottom:5px;
}
 
section.content a:link, section.content a:visited{
}

section.content a.componentbutton:active, section.content a.componentbutton:hover{
background-color:rgba(153,166,195,1.0);
color:white;
border:1.9mm solid rgba(153,166,195,1.0);
}

/****************** documentation ******************/
section.documentation{
height:auto;
/*width:95%;*/         
display:flex;
text-align:left;
}

iframe.toc{
height:inherit;
width:100%;
border:0px;
padding:0px;
margin:0px;
background-color:rgba(153,166,195,1.0);
box-sizing:border-box;
overflow: hidden;
background-image: url("img/Egg-incubation.png");
background-position: left bottom; 
background-repeat: no-repeat;
border-radius: 4px;
}

iframe.doc, div.doc{
vertical-align:top;
width:100%;
margin-left:20px;
margin-bottom:20px;
padding:0px;
border:0px;
box-sizing:border-box;
overflow: hidden;
min-height: 100%;
margin-bottom: -142px;
}

/****************** header / footer ******************/
header{
width:100%;
height:80px;
display:table;
}

header img{
height:55px;
}

footer{
background-color:rgba(1,34,105,1.0); 
color:white;
margin:0px;
height:24px;
padding:5px 0px 5px 0px;
width:100%;
display:table;
bottom:0;
}

footer td#width33, header > span{
width:33%;
}

footer td, header > span{
padding:0px;
display:table-cell;
vertical-align:middle;
}

footer td.left, header span.left{
text-align:left;
padding-left:5px;
color:white;
}
header span.left{
padding:10px;
}

footer td.center, header span.center{
text-align:center;
}
header span.center{
color:orange;
font-size:18pt;
font-weight:bold;
line-height: 18pt;
}

footer td.right, footer td.right > a, header span.right{
text-align:right;
text-decoration:none;
padding-right:10px;
color:white;
font-size:8pt;
}
header span.right{
color:rgba(1,34,105,1.0);
font-size:18pt;
font-weight:bold;
line-height: 18pt;
}

footer td.right img{
margin-top:5px;
height:24px;
align:middle;
}

footer td.center img{
margin-left:5px;
margin-right:5px;
height:30px;
width:30px;
background-color:rgba(1,34,105,1.0); 
border-radius:5px;
}

footer td.links{
margin-left:5px;
margin-right:20px;
font-size:8pt;
color:white;
vertical-align:middle;
}

/**************************************  application domains ***************************************/

section.applicationdomains{
margin-top:30px;
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
/*background-color:rgba(51,78,135,1.0);*/
width:80%;
border-radius:15px;
text-align:center;
padding-left:10px;
padding-right:10px;
}

.applicationdomains > h1 {
padding-top:10px;
margin-bottom:5px;
/*color:white;*/
}

.appdomain{
margin:7px;
margin-bottom:15px;
background-color:white;
width:127px;
height:100px;
border-radius:15px;
display:inline-block;
border-width:4px;
border-color:rgba(51,78,135,1.0);
border-style: solid;
}

section.appdomain span{
height:100%;
vertical-align: middle;
padding:8px;
}


/*for responsive desing realign collums when to small */
@media screen and (max-width: 800px) {
    section.left, section.conntent {
        width: 100%;
    }
    
    section.right{
    	width: calc(100% - 60px);
    	margin-left: 30px;
    }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{font-family:FontAwesome;src:url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.eot?674f50d287a8c48dc19ba404d20fe713);
src:url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.eot?674f50d287a8c48dc19ba404d20fe713?#iefix&v=4.7.0) format("embedded-opentype"),
url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.woff2?af7ae505a9eed503f8b8e6982036873e) format("woff2"),
url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.woff?fee66e712a8a08eef5805a46892932ad) format("woff"),
url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.ttf?b06871f281fee6b241d60582ae9369b9) format("truetype"),
url(../eclipse.org-common/themes/solstice/public/fonts/vendor/font-awesome/fontawesome-webfont.svg?912ec66d7572ff821749319396470bde#fontawesomeregular) format("svg");
font-weight:400;font-style:normal}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}
.fa-2x{font-size:2em}.fa-3x{font-size:3em}
.fa-4x{font-size:4em}.fa-5x{font-size:5em}
.fa-fw{width:1.28571429em;text-align:center}
.fa-rss:before{content:"\F09E"}
.fa-download:before{content:"\F019"}

