:root {
  --fordiac-darkBlue: rgba(1,34,105,1.0);
  --fordiac-ligthBlue: rgba(153,166,195,1.0);  	
  --fordiac-orange: orange;
}



span.toc {
	height:inherit;
	width:100%;
	border:0px;
	padding:0px;
	margin:0px;
	background-color:var(--fordiac-ligthBlue);
	box-sizing:border-box;
	overflow: hidden;
	background-image: url("img/Egg-incubation.png");
	background-position: left bottom; 
	background-repeat: no-repeat;
	border-radius: 4px;
}


#section-doc-toc{
	border-radius: 4px;
	padding-right: 5px;
	padding-bottom: 15px;
	color:white;
	background-color:var(--fordiac-ligthBlue);
	font-family: 'Open Sans', sans-serif;
 }
 
section.documentation{
	padding-left: 15px;
} 

section.left li > ul{
	list-style-type: square;
	padding-left:20px;
	padding-top:0px;
	margin-left:5px;
	font-weight:normal;
}

section.left ul {
	color:white;	
	font-weight:bold;
	list-style-type: none;
	padding:0px;
	padding-left:10px;
	margin:0px;
	text-align: left;
}

section.left ul > li {
	padding-top:5px;
}

section.left li > ul > li {
	padding:0px;
}


section.left li a:link, li a:visited{
color:white;
}

section.left li a:hover, li a:active{	
color:rgba(1,34,105,1.0);
background-color:rgba(153,166,195,1.0);
border-radius:5px;
}

section.left li a{
text-decoration: none;
}

/*********************help content ****************************/
div.doc {
    vertical-align: top;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100%;

}

section.content h2{
	max-width: 100%;
	color: rgba(255,149,14,1.0);	
}

section.content h3{
	max-width: 100%;
}

section.content ul{
	list-style-type: square;
	font-weight: normal;
	max-width: 100%;
	padding-left: 40px;
}

section.content ol{
	text-align: justify;
	max-width: 100%;
	padding-left: 40px;
	color:var(--fordiac-darkBlue);
	margin: 0;
}

section.content a:link, section.content a:visited {
	color: var(--fordiac-orange);
	text-decoration: none;
}

section.content a:hover, li a:active{	
color:rgba(1,34,105,1.0);
background-color:rgba(153,166,195,1.0);
border-radius:5px;
}

section.left li a{
}

section.content img {
	max-width:800px;
	text-align: center;
}

section.content div.code {
	background-color: #F9F9F9;
	color:var(--fordiac-darkBlue);
	text-align:left; 
	padding:10px; 
	border:thin dashed var(--fordiac-darkBlue); 
	margin:5px;
	font-family: "Courier New";
	font-size: 10pt;
	white-space: pre; 
	text-align: left;
}

section.content span.inlinecode {
	padding-top: 0px;
	display: inline;
	font-family: "Courier New";
}

section.content span.inlineCode {
	padding-top: 0px;
	display: inline;
	font-family: "Courier New";
}


section.content span.address{
	padding-top: 0px;
	display: inline;
	font-family: "Courier New";
}

section.content span.folderLocation {
	padding-top: 0px;
	display: inline;
	font-family: "Courier New";
}

section.content span.fileLocation {
	padding-top: 0px;
	display: inline;
	font-family: "Courier New";
}


section.content span.button4diac {
	padding-top: 0px;
	display: inline;
}

section.content span.specificText {
	padding-top: 0px;
	display: inline;
	font-style: italic;
}

section.content span.inlineTitle {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.view4diac {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.element61499 {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.element4diac {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.command4diac {
	padding-top: 0px;
	display: inline;
}

section.content span.IDEelement {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.menu4diac {
	padding-top: 0px;
	display: inline;
	font-weight: bold;
}

section.content span.errorMessage {
	padding-top: 0px;
	display: inline;
}
