

table.nan {
 border-collapse: collapse;
 width: 800px;
}

table.nan td {
    padding-bottom: 5px;
    padding-right:15px;
}

table.nan td:first-child {
	text-align:left;
}

table.nan td:last-child {
	width: 600px;
}

table.nan tr {
    border-bottom: 1px solid rgba(1,34,105,1.0);
}

table.nan tr:last-child {
    border-bottom: none;
}​