
body {
	color:white;
	background-color:rgba(153,166,195,1.0);
	padding:0px; 
	margin:0px;
	height:100%;
	width:100%;
	font-family: 'Open Sans', sans-serif;
}

li > ul{
	list-style-type: square;
	padding-left:20px;
	padding-top:0px;
	font-weight:normal;
}

ul {
	font-weight:bold;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

ul > li {
	padding-top:5px;
}

li > ul > li {
	padding:0px;
}


li a:link, li a:visited{
color:white;
}

li a:hover, li a:active{	
color:rgba(1,34,105,1.0);
background-color:rgba(153,166,195,1.0);
border-radius:5px;
}

li a{
text-decoration: none;
}

span a {
	text-decoration:none;
	color: black;
}

span ul, span li {
	list-style: none;
	padding-left:5px;
}

#nav li {
	padding: 2px 2px 2px 15px;
	cursor: default;
	background: no-repeat scroll 0px 10px transparent;
	background-size: 12px 12px;
	background-position: 0px 5px; 
}

#nav ul {
	display: none;
}

#nav li.expand {
	background: url(../img/arrow-down.png) no-repeat scroll 0px 10px transparent;
	background-position: 0px 8px; 
}

.expanded {
	background: url(../img/arrow-up.png) no-repeat scroll 0px 10px transparent !important;
	background-position: 0px 8px; 
}